.welcome{
  color:brown;
  font-size: 32px;
}
.react_class{
  color:blue;
  font-size: 32px;
}
.External{
  background-color: aquamarine;
  color:rgb(42, 75, 165);
  width:250px;
}
.first{
  font-size: 22px;
  color:rgb(48, 35, 2);
}
.second{
  font-size: 22px;
  color:rgb(30, 37, 16);
}
.profile-container {
  border: 2px solid #4a90e2;
  padding: 20px;
  max-width: 400px;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  border-radius: 8px;
  text-align: center;
  margin-left: 35%;
}

.profile-name {
  color: #2c3e50;
  margin-bottom: 10px;
}

.profile-age {
  color: #34495e;
  font-weight: bold;
  margin-bottom: 8px;
}

.profile-bio {
  color: #7f8c8d;
  font-style: italic;
}
.hobby-list-container {
  max-width: 300px;
  font-family: Arial, sans-serif;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #3498db;
  border-radius: 6px;
  background-color: #f0f8ff;
}

.hobby-list {
  list-style-type: square;
  padding-left: 20px;
  color: #2c3e50;
}

.hobby-item {
  margin: 6px 0;
  font-size: 16px;
}
